<header class="header">
  <!-- Logo + navitems -->
  <div class="header-left">
    <img width="110" src="/assets/pngwing.com.png" alt="netflix-logo">
    <ul>
      <ng-container *ngFor="let item of navList">
        <ng-container *ngIf="item.toLowerCase() !== 'home' && item.toLowerCase() !== 'search'">
          <li class="nav-item">
            <span>{{ item }}</span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
  <div class="header-right">
    <ng-container *ngFor="let item of navList">
      <ng-container *ngIf="item.toLowerCase() === 'home' || item.toLowerCase() === 'search'">
        <a class="nav-link" [routerLink]="getRouterLink(item)">
          {{ item }}
        </a>
      </ng-container>
    </ng-container>
  </div>
</header>

<router-outlet></router-outlet>




