

h1
{
    color: #ffffff;
    font-weight: bold;
}
h2
{
    color: #ffffff;
    font-weight: bold;
}
h3
{
    color: #ffffff;
    font-weight: bold;
}
.details
{
    color: #ffffff;
    font-weight: bold;
}
.trailer-button
{
    color: #ffffff;
    font-weight: bold;
}
p{
    color: #ffffff;
}

a{
    background-color: #E50914;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #ffffff;
}
/* movie-details.component.css */

.movie-details-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.movie-header {
  text-align: center;
}

.movie-header h1 {
  font-size: 2em;
}

.movie-header .tagline {
  font-style: italic;
  color: gray;
}

.poster img {
  max-width: 100%;
  height: auto;
}

.movie-info {
  margin-top: 20px;
}

.info-item {
  margin-bottom: 15px;
}

.info-item h2 {
  font-size: 1.5em;
}

.movie-trailer {
  margin-top: 20px;
  text-align: center;
}
